@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#4c4c4c, #1d1d1d);
  color: #fcf396;
  min-height: 100vh;
}

header {
    text-align: center;
    margin: 1rem auto;
  }

  .center-area {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 50rem;
    min-height: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    justify-content: center;
    background: linear-gradient(180deg, #433600,#0f0d01);
  }
  
  .input-group {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  #user-input label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #user-input input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffdd00;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #fffbaa;
    font-size: 1rem;
  }
  
  .negative {
    color: #ff0000 !important
  }
  
  .positive {
    color: #00ff00 !important
  }
  
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  #result {
    font-size: 0.8rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 4rem;
    text-align: center;
  }
  
  #result thead {
    color: #e4e683;
  }
  
  #result tbody {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffc404;
  }
  
  .button {
    font: inherit;
    cursor: pointer;
    background-color: hsl(46, 100%, 51%);
    border: 1px solid #ffc404;
    color: #1f1a09;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .button:hover,
  .button:active {
    background-color: #ffab04;
    border-color: #ffab04;
    color: #1f1a09;
  }
  
  .text-button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ffc404;
  }
  
  .text-button:hover,
  .text-button:active {
    color: #ffab04;
  }
  
  .center {
    text-align: center;
  }