.form-control {
    color: #000;
    background-color: #fff;
    width: 30rem;
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
  .form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }