.data-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    margin: 5px;
    border: 1px solid #000;
    color: #000;
    background: #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  }